<h1><%= @pagetitle = 'Site Information' %></h1>
<p>The album pages on this website each feature:</p>
<ul>
<li>Picture</li>
<li>Title</li>
<li>Catalog Number(s)</li>
<li>Initial Price(s)</li>
<li>Publisher(s)</li>
<li>Date(s) of Release (Year/Month/Day)</li>
<li>Tracklist</li>
</ul>
<p>If you have information that is about one of the above that is not on the site (e.g. a catalog number not listed), please <%= mail_to_maintainer('email me') %>.

<h1>Site Credits</h1>
<ul>
<li><a href="http://www.falcom.co.jp">Nihon Falcom</a>, for CD scans, CD info, track listing information, original layout, and publishing fine video game music.</li>
<li><a href="mailto:bberg@cesmail.net">Brandon Berg</a>, for English translations.</li>
<li><%= mail_to_maintainer('Jeremy Evans') %>, for website and database design and maintenance.</li>
<li>Stephen Tang, for website design and support.</li>
<li>Kuno Christoffel, for English translations and founding the site.</li>
<li>J.G.M.L. (Japan Game Music Library), for CD information and track listings.</li>
<li><a href="http://pcecp.com/">PC Engine Catalog Project</a>, for CD scans and information.</li>
<li>Falcom 21st Century All Music Files (formerly Falcom Game Sound &amp; Music CD's ALL LIST), for CD Scans, information, and track listings</li>
<li>And many other small contributors.  To you, we say thanks!</li>
</ul>

<h1>Message from Site Maintainer</h1>
<p>For inquiries about this website or to contribute to this website, please <%= mail_to_maintainer('email me') %>.</p>

<h1>Message from the translator</h1>
<p>I'm the one responsible for all the new tracklist translations since FMS 3, as well as all the lyrics. I do my best, but I'm not a native speaker, so I make no guarantees regarding the accuracy of the translations. If you have any corrections or suggestions for improvement, or if you know what a <i>vanbuuran</i> is, please feel free to <a href="mailto:bberg@cesmail.net">e-mail me</a>.</p>

<h3>Disclaimer</h3>
<p>This is not an official Falcom website, but it is listed at the top of the English Unofficial Home Pages on <a href="http://www.falcom.co.jp/links.html">Falcom's Links page</a>.</p>
<p>This site recognizes the copyright holders of official Falcom images and materials contained within this website and does not seek to infringe on those copyrights.  If you are a copyright holder of material on this website, and you object to the usage of a copyright you hold, please <%= mail_to_maintainer('email me') %> and I will remove the material.</p>
