<h1><%= @pagetitle = "Tracklist for #{@album.fullname}" %></h1>

<form method="post" action="/update_tracklist_game/<%= @album.id %>">
Disc: <input type="text" name="disc" size="1" /> Start: <input type="text" name="starttrack" size="2" /> &nbsp; End: <input type="text" name="endtrack" size="2" />
<select name="game">
<option></option>
<%= options_from_collection_for_select(@games, :id, :name, :include_blank=>true) %>
</select>
<input name="commit" type="submit" value="Assign to Game" /></form>

<table class="tracklist">
<thead><tr>
<th>Disc</th>
<th>Number</th>
<th>Name</th>
<th>Game</th>
<th>Arrangement of</th>
</tr></thead>
<tbody>
<% @tracks.each do |track| %>
  <tr><td><%= track.discnumber %></td><td><%= track.number %></td><td><%= link_to(track[:name], "/song/#{track[:songid]}") %></td><td><%= track[:game] %></td><td><%= track[:arrangement] %></td></tr>
<% end %>
</tbody></table>
