<% @pagetitle = @lyric.japanese_title %>

<p>
<%= "Music: #{link_to(@lyric.composer.jname, '/artist/%s' % @lyric.composer.id)}<br />" if @lyric.composer %>
<%= "Arrangement: #{link_to(@lyric.arranger.jname, '/artist/%s' % @lyric.arranger.id)}<br />" if @lyric.arranger %>
<%= "Lyric: #{link_to(@lyric.lyricist.jname, '/artist/%s' % @lyric.lyricist.id)}<br />" if @lyric.lyricist %>
<%= "Vocal: #{link_to(@lyric.vocalist.jname, '/artist/%s' % @lyric.vocalist.id)}<br />" if @lyric.vocalist %>
</p>

<p><%= link_to('English and Romaji Lyrics', "/lyric/#{@lyric.id}") %></p>

<%= Thamble.table(@lyric.japanese_verses, :table=>{:class=>'lyric'}){|verse, t| [t.raw(verse.verse)]} %>
