<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Falcom CD Catalog - English Edition<%= ' - ' + title(@pagetitle) if @pagetitle %></title>
<%== assets([:css, :public]) %>
<%== assets([:js, :public]) %>
<% if admin? %>
<%== assets([:css, :admin]) %>
<%== assets([:js, :admin]) %>
<% end %>
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Falcom CD Catalog</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Info<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/news">Site News</a></li>
            <li><a href="/info">Site Information</a></li>
            <li><a href="/order">Falcom Ordering Information</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Albums<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/albums_by_date">Albums By Date</a></li>
            <li><a href="/albums_by_media_type">Albums By Media Type</a></li>
            <li><a href="/albums_by_name">Albums By Name</a></li>
            <li><a href="/albums_by_price">Albums By Price</a></li>
            <li><a href="/photoboard">Album Photoboard</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/artists">Artists</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/publishers">Publishers</a></li>
            <li><a href="/series_list">Series</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Random<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/random_album">Random Album</a></li>
            <li><a href="/random_lyric">Random Lyric</a></li>
            <li><a href="/random_song">Random Song</a></li>
          </ul>
        </li>

        <% if admin? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/Album/edit">Manage Album</a></li>
              <li><a href="/Albuminfo/edit">Manage Album Info</a></li>
              <li><a href="/Medium/edit">Manage Album Release</a></li>
              <li><a href="/Discname/edit">Manage Disc Name</a></li>
              <li><a href="/Game/edit">Manage Game</a></li>
              <li><a href="/Lyric/edit">Manage Lyric</a></li>
              <li><a href="/Publisher/edit">Manage Publisher</a></li>
              <li><a href="/Series/edit">Manage Series</a></li>
              <li><a href="/Song/edit">Manage Song</a></li>
            </ul>
          </li>
        <% end %>
      </ul>

      <form action="/song_search_results" class="navbar-form">
        <div class="form-group">
          <input type="text" name="songname" class="form-control" placeholder="Song Search">
        </div>
      </form>
    </div>
  </div>
</nav>

<div class="container" id="content">
<%== "<h1>#{@pagetitle}</h1>" if @pagetitle %>
<%== yield %>
</div>

</body></html>
