<% @pagetitle = @lyric.title %> 
<%== "<br /><i>#{@lyric.rsongname}</i>" if @lyric.rsongname != @lyric.song.name %>
</h1>

<p>
<%== "Music: #{link_to(@lyric.composer.name, '/artist/%s' % @lyric.composer.id)}<br />" if @lyric.composer %>
<%== "Arrangement: #{link_to(@lyric.arranger.name, '/artist/%s' % @lyric.arranger.id)}<br />" if @lyric.arranger %>
<%== "Lyric: #{link_to(@lyric.lyricist.name, '/artist/%s' % @lyric.lyricist.id)}<br />" if @lyric.lyricist %>
<%== "Vocal: #{link_to(@lyric.vocalist.name, '/artist/%s' % @lyric.vocalist.id)}<br />" if @lyric.vocalist %>
</p>

<%== content_tag(:p, link_to('Japanese Lyrics', "/japanese_lyric/#{@lyric.id}")) if @lyric.has_japanese_verses? %>

<% @lyric.english_verses.zip(@lyric.romaji_verses).each do |vs| vs.pop unless @lyric.has_japanese_verses? %>
  <div class="row lyric-verse">
    <% vs.each do |v| %>
      <div class="col-xs-12 col-sm-<%= vs.length == 1 ? 12 : 6 %> lyric<%= '-romaji' if @lyric.has_japanese_verses? && v == vs.last %>">
        <%== v.verse %>
      </div>
    <% end %>
  </div>
<% end %>
