<% @pagetitle = @song.name %> <%== link_to("(Edit)", "/Song/edit/#{@song.id}") if admin?  %>

<%== content_tag(:h4, "From %s" % link_to(@song.game.name, "/game/#{@song.gameid}")) if @song.gameid %>
<%== content_tag(:h4, "Arrangement of %s" % link_to(@song.arrangement.name, "/song/#{@song.arrangementof}")) if @song.arrangementof %>
<%== content_tag :h4, link_to('Lyrics', "/lyric/#{@song.lyricid}") if @song.lyricid %>

<h3>Appears on the following albums:</h3>
<ul>
<% @song.tracks.each do |track| %>
	<li><%== link_to(track.album_and_number, "/album/#{track.album.id}") %></li>
<% end %>
</ul>

<% if @song.arrangements.length > 0 %>
  <h3>Is the basis for the following arrangements:</h3>
  <ul>
  <% @song.arrangements.each do |song| %>
      <li><%== link_to(song.name, "/song/#{song.id}") %></li>
  <% end %>
  </ul>
<% end %>
