<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=<%= @charset || 'ISO-8859-1' %>" />
<% @pagetitle ||= @scaffold_title -%>
<title>Falcom CD Catalog - English Edition<%= ' - ' + title(@pagetitle) if @pagetitle %></title>
<link rel="stylesheet" type="text/css" href="/stylesheets/falcomcatalog.css" />
<%= javascript_include_tag(:defaults, :cache=>true) if admin? %>
</head>

<body>
<div id="content">
<%= "<h1>#{@scaffold_title}</h1>" if @scaffold_title -%>
<%= yield %>
</div>

<div id="nav">
<a href="/" id="banner">Falcom CD Catalog</a>
<br />
<a href="/news">Site News</a>
<a href="/info">Site Information</a>
<a href="/order">Falcom Ordering Information</a>
<br />
<a href="/albums_by_date">Albums By Date</a>
<a href="/albums_by_media_type">Albums By Media Type</a>
<a href="/albums_by_name">Albums By Name</a>
<a href="/albums_by_price">Albums By Price</a>
<br />
<a href="/photoboard">Album Photoboard</a>
<br />
<a href="/games">Games</a>
<a href="/publishers">Publishers</a>
<a href="/series_list">Series</a>
<br />
<a href="/random_album">Random Album</a>
<a href="/random_lyric">Random Lyric</a>
<a href="/random_song">Random Song</a>
<br />
<a href="/song_search">Song Search</a>

<% if admin? %>
<h4>Admin</h4>
<a href="/manage_album">Manage Album</a>
<a href="/manage_albuminfo">Manage Album Info</a>
<a href="/manage_medium">Manage Album Release</a>
<a href="/manage_discname">Manage Disc Name</a>
<a href="/manage_game">Manage Game</a>
<a href="/manage_lyric">Manage Lyric</a>
<a href="/manage_publisher">Manage Publisher</a>
<a href="/manage_series">Manage Series</a>
<a href="/manage_song">Manage Song</a>
<a href="/manage_track">Manage Track</a>
<% end %>
</div>
</body></html>
